# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Frontend
school-management-fe/node_modules/
school-management-fe/dist/
school-management-fe/.env
school-management-fe/.env.local
school-management-fe/.env.*.local

# Backend
school-management-be/target/
school-management-be/.env
school-management-be/.env.local

# Logs
*.log
logs/
